<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/predict_emission.css') }}">
    <script src="{{ url_for('static', filename='scripts/js/validateEngineForm.js') }}"></script>
    <title>Predict Emission</title>
</head>
<body>
  <div class="container">
    <h2>Vehicle Emission Predictor</h2>
    <div class="predictor">
      <form action="/predict_emission" method="post">
        <label for="text">Engine Size</label>
        <input type="text" id="form-input" name="engine" placeholder="Enter engine size...">
        <button class="btn" type="submit" onclick="return validateEngineForm()">Submit</button>
        <a href="/" class="btn back">Back</a>
      </form>
      <div class="result">
        <div>
          <p id="emi">{{EMI}}</p>  
          <p id="unit">g/km</p>
        </div>
      </div>
    </div>  
  </div>
</body>
</html>