<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
</head>

<body>
    <div class="main-content">
        <div class="wrapper">
            <div class="title" id="about">
                <p>ABOUT US</p>
            </div>

            <div class="about-content">
                <div class="row">
                    <div class="about-desc">
                        <p class="desc-title">
                            All about Analysis of Automotive Industry
                        </p>

                        <p class="desc-paragraph">
                            Automotive industries are all those companies and activities involved in the manufacture of motor vehicles, including most components, such as engines and bodies, but excluding tires, batteries, and fuel. The goal of this web app is to understand key performance indicators for automotive industry in US and Ukraine. The data consisted of 48 car brands and in total 915 different car models. 
                            The automotive industry continues to face a growing number of challenges and pressures. Cost pressure, competition, globalization, market shifts, and volatility are all increasing. We understand the problem and created a web application where data analytics will allow you to see the unseen and make smart decisions and derive value from the vast amounts of data and to maintain market position and profits in the air of forever shrinking margins. To make the automotive 
                            industry more understandable, we have used Data Analysis to make statistics and trends clearly visible to the users with Visualization. This web application help an user to get a clear and easy understanding and how the Automotive Industry could harness data to take informed decisions. Along with it we also predict an used car price which would help user to buy and sell a car by uing the price prediction section.
                        </p>
    
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
    
</html>