<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/contact.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="title-contact" id="contact">
        <h2>CONTACT</h2>
        <p>
            Feel free to reach out to us if you have any doubt or you can 
            suggest any kind of improvement in the web app. We will surely 
            look into the matter.
        </p>
    </div>

    <div class="contact-list">
        <div class="contact">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <h4 class="contact-title">
                ADDRESS
            </h4>
            <p class="contact-desc">
                V5B, UTP, Seri Iskandar Perak, Malaysia
            </p>
        </div>
        <div class="contact">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <h4 class="contact-title">
                PHONE NUMBER
            </h4>
            <p class="contact-desc">
                +60 1154392012
            </p>
        </div>
        <div class="contact">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <h4 class="contact-title">
                EMAIL
            </h4>
            <p class="contact-desc">
                car_analysis@gmail.com
            </p>
        </div>
    </div>
</body>
</html>