<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/service.css') }}">
</head>
<body>
    <div class="title-service" id="service">
        <h2>SERIVCES</h2>
        <p>
            Welcome to the Services section of AutoCARs. 
            Get all the queries answered by the Car Sales Analysis in US 
            and Ukraine Also get to know about the price of car by entering 
            into the third section.
        </p>
    </div>

    <div class="card-list">
        <div class="card">
            <span class="card-index">01</span>
            <h4 class="card-title">
                Car Sales Analysis
            </h4>
            <p class="card-desc">
                Enter into this section to know about the analysis of recent 
                Car Sales in the market with different visuals in Ukraine.
            </p>
            <a class="card-button" href="{{ url_for('car_sales_analysis') }}">Click Here</a>
        </div>
        <div class="card">
            <span class="card-index">02</span>
            <h4 class="card-title">
                Emission Analysis
            </h4>
            <p class="card-desc">
                Enter into this section to know about the recent trends and 
                analysis regarding the Car in US and get clear understanding.
            </p>
            <a class="card-button" href="{{ url_for('emission_analysis') }}">Click Here</a>
        </div>
        <div class="card">
            <span class="card-index">03</span>
            <h4 class="card-title">
                Predict Car Price
            </h4>
            <p class="card-desc">
                Enter into this section which will helps you to predict the 
                price of the used car. By using this you can sell or buy a car 
                by knowing the actual price.
            </p>
            <a class="card-button" href="{{ url_for('predict_car_price') }}">Click Here</a>
        </div>
        <div class="card">
            <span class="card-index">04</span>
            <h4 class="card-title">
                Predict Emission
            </h4>
            <p class="card-desc">
                Enter into this section which will helps you to predict the 
                price of the used car. By using this you can sell or buy a car 
                by knowing the actual price.
            </p>
            <a class="card-button" href="{{ url_for('predict_emission') }}">Click Here</a>
        </div>
    </div>
</body>
</html>